* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* div {
  display: inline;
} */

body {
  background-color: #313131;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topnav.active1 {
  visibility: visible;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 25px;
  text-decoration: underline #bd1616;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: rgba(241,57,57,1); */
  color: white;
}

.hamburger {
  position: absolute;
  right: 0;
  color: #bd1616;
  /* background-color: #000; */
  /* background-size: 100%; */
  z-index: 5;
  font-size: 2rem;
  padding: 5px 10px 0;
}

.left-nav {
  position: absolute;
  height: 30vh;
  z-index: 6;
  padding: 10px 15px 0;
}

.right-container {
  height: 100vh;
  width: 100vw;

  /* position: absolute; */
  /* right: 0; */
  background-color: #313131;
  /* padding: 0 50%; */
}

.icon {
  margin: 0 50px 20px;
  font-size: 3.5rem;
  color: #000;
}

.name {
  font-size: 3rem;
  color: #bd1616;
  letter-spacing: 1px;
}

.name1 {
  /* margin: 0 0 0.5em 0; */
  /* padding: 0 10%; */

  font-size: 7rem;
  letter-spacing: 1px;
  color: #bd1616;
}

.main-skill-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.code-lang {
  margin: 10px 3px;
  background-color: #414141;
  color: #fff;
  /* display: flex; */
  margin: 7px;
  /* flex-direction: row; */
  border-radius: 8px;
  letter-spacing: 1px;
  border: 0.2px solid #bd1616;
  padding: 4px 6px;
}

.skill-name {
  padding: 30px 10px;
}

h4 {
  font-size: 1.5rem;
  color: #bd1616;
}

.work {
  margin: 1% 5% 1%;
  background-color: #000;
  border-radius: 8px;
  padding: 10px;
}

.fa-long-arrow-alt-down {
  font-size: 2rem;
  padding: 5% 0 0;
  text-align: center;
  color: #bd1616;
}

.work-description {
  font-size: 15px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
}

.profile-pic {
  /* margin: 0 0 %; */
  /* border-radius: 50%; */
  border-radius: 2%;
  width: 90%;
  padding: 6px;
  border: 1px solid #fff;
  filter: grayscale(20%);
}

.third-container {
  height: 100vh;
  width: 100vw;
  padding: 5% 0;
  background-color: #313131;
  /* margin-top: 10%; */
}

.right-p {
  /* padding: 2% 10%; */
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1px;
}

.first-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  text-align: left;
  /* padding-left: 5%; */
}

.pic,
.my-header {
  padding-top: 10%;
  width: 50vw;
  flex: wrap;
  margin: 0 5%;
}

/* .my-header {
  padding-left: 5%;
} */

.first-container.active {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.second-container {
  /* text-align: center; */
  background-color: #313131;
  padding: 5% 0;
  /* margin-top: 20%; */
  width: 100vw;
}

.project-container {
  margin: 0 5%;
}

.second-container.active {
  text-align: center;
  background-color: #313131;
  padding: 10% 0;
}

.about-me {
  padding-bottom: 20px;
  font-size: 20px;
  margin: 10px 15px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 100px; */
  justify-content: center;
}

.portfolio {
  background-color: #231f20;
  /* align-items: center; */
  text-align: left;
  color: #fff;
  flex-basis: 600px;
  flex-shrink: 1;
  /* width: 32%; */
  /* padding: 20% 20% 0; */
  margin: 10px 10px;
  /* color: #fff; */
  border-radius: 8px;
  /* box-shadow: 0 0 2px 2px #BD1616; */
  /* box-shadow: 0 0 8px 5px #888; */
  /* cursor: pointer; */
}

.port-name {
  margin: 5px 0;
  font-size: 20px;

  letter-spacing: 1px;
  line-height: 1.2;
  color: #bd1616;
}

.port-lang {
  font-size: 15px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
  /* margin: 1% 5% 1%; */
}

.portfolio1 {
  margin: 10% 5% 10%;

  display: flex;
  flex-direction: column;
}

.greek {
  width: 98%;
}

.btn {
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 10px;
  width: 15%;
  text-align: center;
  border-radius: 8px;
  display: block;
  /* box-shadow: 0 0 2px 2px #000; */
  background-color: #bd1616;
  color: #231f20;
  outline: none;
  border: none;
  font-weight: 700;
  text-decoration: none;
}

/* .btn-container {
} */

/* 
@keyframes skills1 {
    0% {left: 200px;}
    50% {left: 100px;}
    100% {left: 0;}
}

@keyframes skills2 {
    0% {right: 200px;}
    50% {right: 100px;}
    100% {right: 0;}
}

@keyframes skills3 {
    0% {left: 200px;}
    50% {left: 50px;}
    100% {left: 0;}
} */

.skill1 {
  animation: skills1 3s ease-in;
}

.skill2 {
  animation: skills2 3s ease-in;
}

.skill3 {
  animation: skills3 3s ease-in;
}

.skill-container {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  flex-wrap: wrap;
}

.skill-container.active {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  padding: 5% 0;
  width: 300px;
  height: 125px;
  border-radius: 8px;
  display: flex;

  flex-direction: column;
  position: relative;
  /* margin: 3%; */
  /* border: 1px solid #000; */
}

/* Contact */
.contact-forum {
  margin-top: 150%;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.forum {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 70%;
}

.city {
  width: 50%;
  height: 30%;
  filter: brightness(200%);
  filter: drop-shadow(8px 8px 10px rgb(255, 1, 1));
  /* color: #ff0000; */
}

/* Fourth Container */
.fourth-container {
  padding: 10% 0;
  text-align: center;
  background-color: #313131;
}

.app-img {
  width: 30px;
  height: 30px;
}

.app-img1,
.app-img7 {
  border-radius: 8px;
}

.flex-box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  margin: 3%;
}

/* Footer */
.footer-container {
  /* margin-top: 100%; */
  padding-top: 10%;
  height: 20vh;
  background-color: #414141;
  text-align: center;
  text-decoration: underline #bd1616 2px;
}

.fab {
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
}

.right-p1 {
  margin: 30px 10px;
  font-size: 1.15rem;
}

.fa-facebook-square:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #3b5998;
}
.fa-linkedin:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #007bb5;
}
.fa-github:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #6cc644;
}

.fa-angellist:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #fff;
}

.fa-facebook-square {
  left: 175%;
  color: #3b5998;
}
.fa-linkedin {
  left: 300%;
  color: #007bb5;
}
.fa-github {
  left: 50%;
  color: #6cc644;
}

.fa-angellist {
  left: 400%;
  color: #fff;
}

/* Mobile version */
@media (max-width: 450px) {
  .first-container {
    /* padding-top: 150px; */
    flex-direction: column-reverse;
    height: 100vh;
  }

  .pic {
    width: 90%;
  }

  /* .right-container {
    flex: display;
  }*/
  .name1 {
    font-size: 4rem;
  }

  .right-p {
    font-size: 1.3rem;
  }

  .my-header {
    width: 90vw;
    padding-bottom: 30px;
    padding-top: 0;
  }

  .meet-btn {
    width: 30%;
  }

  .second-container {
    padding-top: 100px;
  }

  .name {
    font-size: 1.5rem;
  }
}
