* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #313131;
}

/* LOADER */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #bd1616;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 3s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* LARGE DISPLAYS */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topnav.active1 {
  visibility: visible;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 25px;
  text-decoration: underline #bd1616;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

.hamburger {
  position: absolute;
  right: 0;
  color: #bd1616;
  z-index: 5;
  font-size: 2rem;
  padding: 5px 10px 0;
}

.left-nav {
  position: absolute;
  height: 30vh;
  z-index: 6;
  padding: 10px 15px 0;
}

.right-container {
  /* height: 100vh; */
  width: 100vw;
  background-color: #313131;
}

.hidden {
  display: none;
}

.icon {
  margin: 0 50px 20px;
  font-size: 3.5rem;
  color: #000;
}

.name {
  font-size: 3rem;
  color: #bd1616;
  letter-spacing: 1px;
}

.name1 {
  font-size: 7rem;
  letter-spacing: 1px;
  color: #bd1616;
}

.main-skill-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.code-lang {
  /* margin: 10px 3px; */
  background-color: #414141;
  text-align: center;
  color: #fff;
  margin: 5px;
  border-radius: 8px;
  letter-spacing: 1px;
  border: 0.2px solid #bd1616;
  padding: 4px 6px;
}

.skill-name {
  padding: 30px 10px;
}

h4 {
  font-size: 1.5rem;
  color: #bd1616;
}

.work {
  margin: 1% 5% 1%;
  background-color: #000;
  border-radius: 8px;
  padding: 10px;
}

.fa-long-arrow-alt-down {
  font-size: 2rem;
  padding: 5% 0 0;
  text-align: center;
  color: #bd1616;
}

.work-description {
  font-size: 15px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
}

.profile-pic {
  /* margin: 0 0 %; */
  /* border-radius: 50%; */
  border-radius: 2%;
  width: 90%;
  padding: 6px;
  border: 1px solid #fff;
  filter: grayscale(20%);
}

/* .third-container {
  height: 100vh;
  width: 100vw;
  padding: 5% 0;
  margin: 0 5% 0 0;
  background-color: #313131;
  display: none;
 
} */

.right-p {
  /* padding: 2% 10%; */
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1px;
}

.first-container {
  display: flex;
  /* height: 100vh; */
  width: 100vw;
  text-align: left;
  /* padding-left: 5%; */
}

.pic,
.my-header {
  padding-top: 10%;
  width: 50vw;
  flex: wrap;
  margin: 0 5%;
}

.first-container.active {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.second-container {
  background-color: #313131;
  padding: 20% 0;

  width: 100vw;
}

.project-container {
  margin: 0 5%;
}

.second-container.active {
  text-align: center;
  background-color: #313131;
  padding: 10% 0;
}

.about-me {
  /* padding-bottom: 10px; */
  font-size: 20px;
  width: 100%;
  /* margin: 10px 15px; */
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.portfolio {
  background-color: #231f20;
  /* align-items: center; */
  text-align: left;
  color: #fff;
  /* flex-basis: 600px; */
  /* flex-shrink: 1;
  flex-grow: 0; */
  flex: 2 1 auto;
  flex-direction: row;
  position: relative;
  width: 30%;
  /* padding: 20% 20% 0; */
  margin: 10px 10px;
  /* color: #fff; */
  border-radius: 8px;
  /* box-shadow: 0 0 2px 2px #BD1616; */
  /* box-shadow: 0 0 8px 5px #888; */
  /* cursor: pointer; */
}

.port-name {
  margin: 5px 0;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #bd1616;
}

.port-lang {
  font-size: 15px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
  /* margin: 1% 5% 1%; */
}

.portfolio1 {
  margin: 10% 5% 10%;

  display: flex;
  flex-direction: column;
}

.greek {
  width: 98%;
}

.btn {
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 10px;
  width: 15%;
  text-align: center;
  border-radius: 8px;
  display: block;
  /* box-shadow: 0 0 2px 2px #000; */
  background-color: #bd1616;
  color: #231f20;
  outline: none;
  border: none;
  font-weight: 700;
  text-decoration: none;
}

/* @keyframes skills1 {
  0% {
    left: 200px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}

@keyframes skills2 {
  0% {
    right: 200px;
  }
  50% {
    right: 100px;
  }
  100% {
    right: 0;
  }
}

@keyframes skills3 {
  0% {
    left: 200px;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 0;
  }
} */

.skill1 {
  animation: skills1 3s ease-in;
}

.skill2 {
  animation: skills2 3s ease-in;
}

.skill3 {
  animation: skills3 3s ease-in;
}

.skill-container {
  padding-top: 110px;
  display: none;
  width: 50%;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 5%;
}

.skill-container.active {
  display: flex;
  /* text-align: center; */
  justify-content: left;
  flex-wrap: wrap;
}

.skill {
  /* padding: 5% 0; */
  width: 300px;
  height: 125px;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  position: relative;
  /* margin: 3%; */
  /* border: 1px solid #000; */
}

/* Contact */
.contact-forum {
  margin-top: 150%;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.forum {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 70%;
}

.city {
  width: 50%;
  height: 30%;
  display: block;
  filter: brightness(200%);
  filter: drop-shadow(8px 8px 10px rgb(255, 1, 1));
  /* color: #ff0000; */
}

/* Fourth Container */
.fourth-container {
  padding: 10% 0;
  text-align: center;
  background-color: #313131;
}

.app-img {
  width: 30px;
  height: 30px;
}

.app-img1,
.app-img7 {
  border-radius: 8px;
}

.flex-box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  margin: 3%;
}

/* Footer */
.footer-container {
  /* margin-top: 100%; */
  padding-top: 10%;
  height: 20vh;
  background-color: #414141;
  text-align: center;
  text-decoration: underline #bd1616 2px;
}

.fab {
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
}

.right-p1 {
  margin: 30px 10px;
  font-size: 1.15rem;
}

.fa-facebook-square:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #3b5998;
}
.fa-linkedin:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #007bb5;
}
.fa-github:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #6cc644;
}

.fa-angellist:hover {
  opacity: 0.6;
  padding: 5px;
  background: #fff;
  border: 1px solid #fff;
}

.fa-facebook-square {
  left: 175%;
  color: #3b5998;
}
.fa-linkedin {
  left: 300%;
  color: #007bb5;
}
.fa-github {
  left: 50%;
  color: #6cc644;
}

.fa-angellist {
  left: 400%;
  color: #fff;
}

/* DESKTOP  */
@media (max-width: 1200px) and (min-width: 1025px) {
  .name1 {
    font-size: 5.5rem;
  }

  .right-p {
    font-size: 1.2rem;
  }

  .my-header {
    margin: 0 -3% 0 5%;
  }

  .meet-btn {
    width: 20%;
  }

  /* .portfolio {
    flex-basis: 300px;
    flex-grow: inherit;
  } */
}

/* SMALL SCREENS / LAPTOPS */
@media (max-width: 1024px) and (min-width: 769px) {
  .name1 {
    font-size: 5.2rem;
  }

  .right-p {
    font-size: 1.4rem;
  }

  .city {
    width: 70%;
  }

  .meet-btn {
    width: 30%;
  }
  .portfolio {
    /* flex-basis: 375px; */
    flex-grow: inherit;
  }

  .name {
    font-size: 2.5rem;
  }
}

/* TABLET / iPADS */
@media (max-width: 768px) and (min-width: 481px) {
  .first-container {
    flex-direction: column-reverse;
  }

  .pic {
    width: 50%;
  }
  .name1 {
    font-size: 5rem;
  }

  .right-p {
    font-size: 1.2rem;
  }

  .meet-btn {
    width: 20%;
  }

  /* .portfolio {
     flex-grow: inherit; 
  } */

  .my-header {
    width: 90vw;
    padding-bottom: 30px;
    padding-top: 0;
  }

  .second-container {
    padding-top: 200px;
  }
}

/* MOBILE */
@media (max-width: 480px) and (min-width: 320px) {
  .right-container {
    padding-top: 50px;
  }

  .first-container {
    flex-direction: column-reverse;
    /* height: 150vh; */
  }

  .pic {
    width: 70%;
  }

  .name1 {
    font-size: 3rem;
  }

  .right-p {
    padding-top: 10px;
    font-size: 1rem;
    /* width: 70%; */
  }

  .my-header {
    width: 90vw;
    padding-bottom: 70px;
    padding-top: 0;
  }

  .city {
    width: 50%;
  }

  .portfolio {
    width: 90%;
  }

  .meet-btn {
    width: 40%;
  }

  .btn {
    /* width: 60%; */
    font-size: 16px;
  }

  .second-container {
    padding-top: 100px;
  }

  .name {
    font-size: 1.5rem;
  }
}
